.counter
  The SSE has gone
  %span.count 5 hours
  without a yacht incident

.incidents
  %article
    %time
      %span.time 2:37 PM
      %span.date September 24, 2012
    .content  
      %p.description
        Yachts were recognized as a form of shelter for humans, as an
        example of ambiguity in requirements analysis and multiple other
        situations that may or may not be appliable to realistic yacht
        operation
      %p.offender 
        %b Offender
        Chris Bentivenga

  %article
    %time
      %span.time 1:37 PM
      %span.date September 22, 2012
    .content
      %p.description A child was to be included on the yacht
      %p.offender 
        %b Offender
        Derek Erdmann

  %article
    %time
      %span.time 1:37 PM
      %span.date September 20, 2012
    .content
      %p.description A child was to be included on the yacht
