.incident_report
	.incident_header
		.incident_header_inner
			YACHT INCIDENT REPORT
	.incident_field
		.incident_field_inner
			.incident_title
				1. OFFENDER
			.incident_answer	
				= @incident.name
	.incident_field
		.incident_field_inner
			.incident_title
				2. BRIEF DESCRIPTION OF THE INCIDENT
			.incident_answer
				= @incident.body
	.incident_field
		.incident_field_inner
			FILE THIS REPORT WITH THE DEPARTMENT OF YACHT INCIDENTS FOUND IN (GOL)-1670