// Place all the styles related to the Incidents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	font-family:arial;
}
.incident_report{
	border:solid black 3px;
	width:600px;
	margin:20px auto 0;
}


.incident_header{
	font-weight:bold;
	border-bottom:solid black 3px;

	.incident_header_inner{
		margin:5px;
	}

}

.incident_field{
	font-size:.75em;
	border-bottom:solid black 1px;

	.incident_field_inner{
		margin:5px;
	}

	textarea{
		width:580px;
		height:100px;
	}

	.incident_answer{
		font-family: ‘Times New Roman’, Times, serif;
		font-size:1.5em;
	}
}

.incident_submit{
	float:right;
	padding-top:20px;
}